<html>
    <head>
        <meta charset="utf-8">
        <link href="case.css" rel="stylesheet">
        <title>{{ case_name }}_{{ case_report_date }}</title>
        <meta name="description" content="{{ case_name }}_{{ case_report_date }}">
    </head>

    <body>
        <article id="cover">
            <div id="case-marking" class="{{ case_marking[4:] }}">{{ case_marking }}</div>
            <div id="case-date">{{ case_report_date }}</div>
            <h1>Hendelsesrapport</h1>
            <div id="case-name">{{ case_name }}</div>
            <div id="case-contact">
                <p>{{ company_email }}</p>
                <p>{{ company_phone_number }}</p>
            </div>
        </article>

        <article id="columns">
            
            <section>
                <!-- <h3 id="details-title">Details</h3> -->
                <table class="incident-table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Hendelsesnivå:
                                <span class="severity-{{ case_severity|lower }}">
                                    {{ case_severity.upper() }}
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>Alvorlighetsgrad:</b>
                                <p>{{ case_priority }}</p>
                                <p><i>{{ case_priority_desc }}</i></p>
                            </td>
                            <td>
                                <b>Klassifisering:</b>
                                {% for classification in response_types %}
                                <p>{{ classification }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h2 id="description-title">Innledning</h2>
                <div>{{ case_description }}</div>
            </section>
            <section id="break">
                {% if tasks.edges %}
                {% if tasks.edges|length > 0 %}
                {% for edges in tasks %}
                <h3 id="task_type-title">Tasks list</h3>
                <table>
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Due Date</th>
                            <th>Status</th>
                        </tr>
                        {% for edge in tasks.edges %}
                        <tr>
                            <td>{{ edge.node.name }}</td>
                            <td>{{ edge.node.description }}</td>
                            <td>{{ edge.node.due_date }}</td>
                            <td>
                                {% if edge.node.status is not none %}
                                    {{ edge.node.status.template.name }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
                {% endif %}
                {% endif %}
            </section>
        </article>
        <article id="content">
            <h2 id="content-title">
                Oppsummering
            </h2>
            {{case_content}}
        </article>
        
        <article id="contents">
            <div id="break"></div>
            <h2>Innhold</h2>
            <ul>
                <li><a href="#description-title"></a></li>
                <li><a href="#content-title"></a></li>
                <li><a href="#analysis-title"></a>
                <ul>
                    <li><a href="#analysis-recon"></a></li>
                    <li><a href="#analysis-attack"></a></li>
                    <li><a href="#analysis-exploit"></a></li>
                    <li><a href="#analysis-foothold"></a></li>
                    <li><a href="#analysis-c2"></a></li>
                    <li><a href="#analysis-objectives"></a></li>
                </ul>
                </li>

                {% if tasks.edges %}
                {% if tasks.edges|length > 0 %}
                <li><a href="#task_type-title"></a></li>
                {% endif %}
                {% endif %}
            </ul>
        </article>

        <article id="contents">
            <div id="break"></div>
            <h2 id="analysis-title">Detaljert analyse av angrepet</h2>
            <h3 id="analysis-recon">Fase 1: Rekognosering</h3>

            <div id="break"></div>
            <h3 id="analysis-attack">Fase 2: Initiell sårbarhetsvektor</h3>

            <div id="break"></div>
            <h3 id="analysis-exploit">Fase 3: Utnyttelse av sårbarhet og svakheter</h3>

            <div id="break"></div>
            <h3 id="analysis-foothold">Fase 4: Fotfeste</h3>

            <div id="break"></div>
            <h3 id="analysis-c2">Fase 5: Kommandosenter</h3>

            <div id="break"></div>
            <h3 id="analysis-objectives">Fase 6: Angrepsmål</h3>
        </article>

        <article id="contents">
            <div id="break"></div>
            {% if entities %}
            <h3>Entities</h3>
            <ul>
                {% for entity_type in entities %}
                <li><a href="#{{ entity_type }}-title"></a></li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if observables %}
            <h3>Observables</h3>
            <ul>
                {% for observable_type in observables %}
                <li><a href="#{{ observable_type }}-title"></a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if case_external_refs %}
            <h3>External References</h3>
            <ul>
                <li><a href="#External-References-title"></a></li>
            </ul>
            {% endif %}
        </article>

        <article id="entities">
            {% for entity_type in entities %}
            <h2 id="{{ entity_type }}-title">{{ entity_type }}</h2>
            <section id="{{ entity_type }}">
                <div style="clear:both;"></div>
                <table>
                    <tbody>
                    {% for entity in entities[entity_type] %}

                    <tr>
                        <th>Name</th>
                    </tr>
                    <tr>
                        <td>
                            <pre>{{ entity.name }}</pre>
                        </td>
                    </tr>

                    {% if entity_type == 'Attack-Pattern' %}
                    <tr>
                        <th>ID</th>
                    </tr>
                    <tr>
                        <td>
                            {{ entity.x_mitre_id }}
                        </td>
                    </tr>
                    {% endif %}

                    {% if entity.description %}
                    <tr>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>
                            {{ entity.description }}
                        </td>
                    </tr>
                    {% endif %}

                    {% if entity_type == 'Indicator' %}
                    <tr>
                        <th>Pattern Type</th>
                    </tr>
                    <tr>
                        <td>
                            {{ entity.pattern_type }}
                        </td>
                    </tr>
                    <tr>
                        <th>Pattern</th>
                    </tr>
                    <tr>
                        <td>
                            <pre>{{ entity.pattern }}</pre>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </section>
            {% endfor %}
        </article>
        <article id="observables">
            {% for observable_type in observables %}
            <h2 id="{{ observable_type }}-title">{{ observable_type }}</h2>
            <section id="{{ observable_type }}">
                <table>
                    <tr>
                        <th>Value</th>
                    </tr>
                    {% for observable in observables[observable_type] %}
                    <tr>
                        <td>
                            {{ observable.observable_value }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
            {% endfor %}
        </article>
        <article id="external-references">
            <h2 id="External-References-title">External References</h2>
            <section>
                <ul>
                    {% for external_ref in case_external_refs %}
                    <li><a href="{{ external_ref }}" target="_blank">{{ external_ref }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </article>
    </body>
</html>
